<% layout('layout') -%>
<div class="container py-5">
  <a class="text-decoration-none" href="/sermons">All sermons</a>
  <section class="blog mt-5">
    <h2 class="mb-0"><%= sermon.title %></h2>
    <p class="text-muted">Theme of the Month: <%= sermon.theme %></p>
    <p class="text-muted"><%= sermon.date.toLocaleDateString() %></p>
    <p class=""><%= sermon.preacher %></p>
    <p><%= sermon.sermon %></p>
  </section>
</div>
